/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* global */
body {font-size: 12px; font-family: "Microsoft YaHei", Helvetica, Arial;}
a {text-decoration: none;}
#header {margin-bottom: 20px; color: #fff; height: 40px; background-color: #000;}
#header a {color: #fff;}
#header .right {float: right; margin:12px 20px 0 0;}
#header #logo {float: left;}
#header ul {float: left; margin: 12px 0 0 50px;}
#header ul li {float: left; margin-right: 20px;}

#main {width: 960px; margin: 0 auto;}


/* left sidebar */
#left-sidebar {width: 190px; float: left;}
#left-sidebar ul li {margin-bottom: 20px; text-align: center;}
#left-sidebar ul li p {text-align: left;}

/* right sidebar */
#right-sidebar {width: 170px; float: right;}
#right-sidebar {float: right}

/* center part */
#center {float: left; width: 560px; margin-left: 20px;}
