<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/base.css" media="all"/>
    </head>
    <body>
        <div id="header">
            <div class="right">
                谁抢了我的刺猬，积分：<span id="score">100</span>
            </div>
            <a id="logo" href="/" alt="吵架">
                <img src="/images/logo.png" />
            </a>
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/">赚积分</a>
                </li>
                <li>
                    <a href="/">我的吵架</a>
                </li>
                <li>
                    <a href="/">标签话题</a>
                </li>
                <li>
                    <a href="/">玩法规则</a>
                </li>
            </ul>
        </div>
        <div id="main">
            <div id="right-sidebar">
            </div>
            <div id="left-sidebar">
                <ul>
                    <li>
                        <a href="javascript:;" class="check-in">每天签到</a>
                        <p>(今天可以领取20分，加油哦)</p>
                    </li>
                    <li>
                        <a href="javascript:;" class="get-score">赚积分</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="want-repost">求转发</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="invite-friends">邀请好友</a>
                        <p>（每天2500分等你来领，成功邀请一个好友可以获得50积分，每天最多只能邀请50个好友，还不快赶快行动！）</p>
                    </li>
                </ul>
            </div>
            <div id="center">
            {% block content %}{% endblock %}
                <!-- 此处非公用部分 -->
                <!--<div class="intro-signin">
                    粉丝太少，没有影响力？<br />
                    只想转发自己感兴趣的微博？<br />
                    恭喜你，来对地方了，我们是按标签和话题匹配的转发联盟！！！
                </div>
                <a href="/" class="signin-btn">
                    授权新浪微博
                </a>-->
                <!-- 此处非公用部分 -->
            </div>
        </div>
        <div id="footer">
        </div>
    </body>
</html>
