{% extends "base.html" %}
{% block content %}

<form action='/weibo/tags/'>
	<select name="tags">
		<option value="广告" >广告</option>
	{% for tag in tags %}		
		<option value="{{tag}}" >{{tag}}</option>
	{% endfor %}
	</select>
	<input type="submit" value="查看">
</form>
<br />

{%for w in zhiding_weibos%}
{{ w.text }} 转发({{ w.reposts_count }}) 评论({{ w.comments_count }}) ({{ w.created_at }}) &nbsp
{% if w.zf %}
已经转发
{% else %}
<a href="/weibo/zf/choose/?id={{ w.id }}">转发</a>
{% endif %}
<br /><br />
{% endfor %}
--------------------------------------------------------------------------------------------------
<br />

{%for w in weibos%}
<form action='/weibo/zf/choose/'>
{{ w.text }} 转发({{ w.reposts_count }}) 评论({{ w.comments_count }}) ({{ w.created_at }}) &nbsp
<input type="radio" value="m" checked="checked" name="point"/>中立
<input type="radio" value="n" name="point" />反对
<input type="radio" value="y" name="point" />赞同
<input type="hidden" value="{{ w.id }}" name="id" >
<input type="submit" name="zf" value="转发">
<input type="hidden" value="{{w.tag}}" name="tag" >

<br /><br />
</form>



{% endfor %}




{% endblock %}
